@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import './shared.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 68.5%;
  font-family: 'Indie Flower', cursive;
}

#root {
  max-width: 600px;
  max-height: 640px;
  background: #d4551f;
  margin: 0 auto;
  overflow: hidden;
}

.change-button {
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 360px) {
  @import './styles/AvatarSelectionPage.scss';
  @import './styles/StartPage.scss';
  @import './styles/QuizPage.scss';
}
