// SASS VARIABLES
$primary-color: rgba(255, 138, 0, 1);
$primary-color-minus: rgba(214, 86, 31, 0.49);
$primary-color-plus: rgba(212, 85, 31, 1);

$secondary-color: rgba(0, 255, 224, 1);
$secondary-color-minus: rgba(31, 214, 181, 0.32);
$secondary-color-plus: rgba(31, 169, 212, 1);

$writing-dark: rgba(13, 22, 21, 0.32);
$writing-light: rgba(31, 214, 181, 0.14);

$negative: rgba(231, 12, 12, 1);
$positive: rgba(43, 231, 12, 1);

$image-background: url('../assets/imgs/fundo.jpg');